{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

    {%- for entry in pagination.get_slice() %}
        <div class="row">
            <div class="span-10">
                <div class=detail>
                    <h2><a href="{{ link_to('page', slug=entry.slug) }}">{{ entry.title }}</a> <small>{{ format_date(entry.pub_date, format='medium') }}</small></h2>
                    {% if entry.summary %}
                        <div class=summary>{{ entry.render_summary() }}</div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr />
    {%- endfor %}

    {% if show_pagination and pagination.pages > 1 %}
        {{ pagination }}
    {% endif %}
{% endblock %}

{% block sidebar %}
{% endblock %}
