---
layout: page
# individual pages for each gallery
header:
    title: Some Title
    background-color: "#6B8A78"
---
<div>
<p>{{ page.description }}</p>
      	<ul class="unstyled gallery">
		{% for image in page.images %}
        <li class="gallery-item">
			<a class="fancybox" rel="gallery" href="{{ image }}" title="{{ page.captions[image] }}">
				<img src="thumbs/{{ image }}">
			</a>
			{% if page.captions[image] != nil %}
				{{ page.captions[image] }}
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	<div id="spinner"></div>
</div>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.pack.js"></script>
<script>
$(document).ready(function() {
    $(".fancybox").fancybox({
        openEffect    : 'none',
        closeEffect    : 'none'
    });
});
</script>
